body{
    overflow-x: hidden;
    background: white;
}

.btn-whatsapp {
    display: inline-block;
    padding: 10px 20px;
    background-color: #25D366;
    color: white;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.btn-whatsapp:hover {
    background-color: #20b358;
}


.carousel{
    width:100%;
    height:500px;
   

}
.ltm{
    width:200px;
    height:200px;
}


.carousel img{
    height:500px;
    object-fit: cover;
}
.temp{
    display:none;
}
.navbar{
    width:100%;
    height:100px;
}










.m{
    padding-right: 150px;
}
.w{
    padding-left: 150px;
}
.t{
    padding-left: 150px;
}
.p{
    padding-left: 150px;
}
.o{
    padding-left: 150px;
}


.phone{
    display:none;
}


.imu{
    height:140px;
    width:150px;
}

.pic{
    background-image: url("images/banner.jpg");
    background-position: center center;
    background-size: cover;
    height:600px;
    width:600px;
}
.all{
    margin-top:-50px;
   background: linear-gradient(to bottom,  #FFFCCC, #000000);   
}
.banner{
    margin-top: 60px;
    display:grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows: auto;
    background: linear-gradient(to bottom,  #DAA520, #FFFCCC);
    height:100vh;
    grid-gap:10px;
 
}
.pic{
    grid-column: 1/2;
    margin-left: 30px;
    object-fit: cover;
}
.pic img{
    width:600px;
    height:600px;
}

.registeration{
    grid-column: 2/2;
    display:grid;
    grid-template-rows: 100px 1fr;
    height:900px;
    margin-top:50px;
}
.texts{
    grid-row: 1/2;
}
.button{
    grid-row:2;
    margin-top: 300px;
}
.one{
   font-weight: bold;
}
.two{
    font-weight: lighter;
}
.three{
    font-weight: bolder;
}

.p1 img{
    width:300px;
}

.log h1{
    color:black;
}

.made{
    padding-left: 300px;
    padding-top: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;  
    font-size: 100px;
    color:#1a160c;
    
}
.kj{
    color:black;
}
.ds{
    margin-left:60px;
}
.elm{
    position:absolute;
    top:200px;
    left:0;
    text-align:center;
    z-index:1;
    color:white;
    font-size:70px;
}
.card{
    background-color:none;
}
.df{
    padding-top:330px;
    margin-left:20px;
}
.card1{
    
    width:180px;
    border:none;
}

.carding{
    width:270px;
    height:500px;
    border:2px solid rgb(162, 155, 155);
    border-radius:10px;
   
 
 
}
.carding img{
    object-fit: contain;
    width:260px;
    height:410px;
    border-radius:10px;
    padding-left:20px;  
}
.carding a {
    display: block; /* Ensure the link takes up the full size of the carding div */
    position: relative; /* Create a stacking context for absolute positioning */
}

.carding a:hover img {
    opacity: 0.7; /* Adjust the opacity level as needed (0.0 to 1.0) */
}

.carding a img {
    transition: opacity 0.3s ease-in-out; /* Smooth transition for the opacity effect */
}
.titlo{
    width:270px;
    border-top:1px solid black;
    border-right:none;
}
.titlo p{
    text-align:center;
}

.em{
    height:600px;
    background-color:#f5eec2;

}
.em img{
    width:340px;
    height:500px;
    margin-left:16px;

    
}
.rer{
    margin-top: 50px;
   
  
}
.card-body{
    text-align: center;
}
.ter{
    width:400px; 
}
.big{
    text-align:center;
}
.cont{
    margin-right:50px;
    margin-top: -140px;
    width:100vw;
}

.ds{
    font-size: 100px;
    font-family: 'Times New Roman', Times, serif;
    margin-left: -20px;
    font-style: italic; 
   
}
.fs{
    padding-left: 110px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 120px;
    font-style: italic; 
    padding-top: 30px;
}

.immi {
  position:absolute;
  top:10px;
  left:10px;
  height:600px;
  width:200px;
}
.bh{
    width:200px;
    height:600px;
    object-fit: cover;
   margin-top:70px;
   margin-left:25px;
}
.cont6 h1{
    margin-top: -70px;
}


.log{
    position: absolute;
    top:260px;
    left:80px;
    color:#1a160c;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic; 
    clip-path: polygon(0 0, 100% 0, 0 0);
    transition:all 1.5s;
    transform: translateY(-3em); 
}
.sector{
    display:grid;
    grid-template-columns:130px 260px 260px 260px 100px;
    grid-template-rows: 400px;
    height:100vh;
    width:100vw;
    margin: auto;
    grid-gap:20px;

}


.s7{
    margin-top: 120px;
    grid-column: 2/5;
    grid-row: 1;
    width:480px;
    height:400px;
    margin-left:70px;
   
   
}
.s7 img{
    object-fit: cover;
     width:480px;
    height:400px;
    margin-top: -120px;
   
}
#sd{
   margin: auto;
}
.s3{
    color:rgb(15, 16, 17);
    text-align:center;
    background-color:rgb(247, 221, 221);
    width:480px;
    height:400px;
    grid-column: 4/5;
    grid-row:1;
   
}
.rown{
    margin-top:100px;

}
.rown h3{
    font-size: 40px;
    color:#D4AF37;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;

}
.t1{
    margin-top: 80px;
    text-align: center;
    font-size:40px;
    color:#D4AF37;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    
}
.cg{
    height:1800px;
    background:white;
    }
.section{
    display:grid;
    grid-template-columns: 10px 250px 250px 250px 250px 10px;
    grid-template-rows:auto;
    margin:auto;
    grid-gap:10px;
    justify-content: center;
    margin-top: 25px;

}

.all{
    height:1600px;
   

}

#con{
    display:flex;
    background:rgba(26,26,26,0.6);
    margin-top:12px;
    color:white;
}

#con span{
    margin-top: 20px;
    margin-left: 30px;
}
.rowm{
    display:flex;
    padding: 10px;
    margin-top:50px;
    margin-left: 70px;
}
.media{
text-align: center;
font-size: 40px;
color:#000000;
font-weight: bold;
font-family: 'Times New Roman', Times, serif;
font-style: italic;
}
.media h3{
    padding-top: 50px;
}

.ter{
    margin: auto;
}
.col-2{
    padding:10px;
}
.jk{
    color:#D4AF37;
    padding-left:7px;
}
.kj{
    margin-right: 5px;
}
.boat{
    
    margin-top: 60px;
    margin:auto;
    width:700px;
    height:400px;
    box-shadow: -3px -3px 5px #ffffff70, 3px 3px 15px #00000090;
    
}

.box{
    background:linear-gradient(rgba(26,26,26,0.5),rgba(26,26,26,0.5)),url('images/j5.jpg');
    background-size: cover;
    background-position: center center;
    width:700px;
    height:400px;
    display:grid;
    grid-template-rows:180px 180px;
    grid-template-columns:280px 280px;
    border-radius: 5px;
    
}
.all{
    background: linear-gradient(to bottom,  #FFD700,  #800000, #000000,);
}
.fl{
    font-size: 50px;
    grid-row: 2/2;
    grid-column:2/2;
    color:white;
}
.kl{
    margin-top: 30px;
    margin-bottom: 90px;
}
.art{
   
   
    height:500px;
    width:1200px;
    margin:auto;
}
.w1{
    text-align: center;
}
.w1{
    font-size: 40px;
    color:#000000;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    margin-top: 100px;
}
.darc{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:500px;
    grid-gap:30px;
}
.darc1{
    border-radius: 5px;
    grid-row:1;
    grid-column: 2/2;
    background:linear-gradient(rgba(26,26,26,0.5),rgba(26,26,26,0.5)),url('images/j13.jpg');
    background-size: cover;
    background-position: center top;
    display:grid;
    grid-template-rows:180px 180px;
    grid-template-columns:280px 280px;
    box-shadow: -3px -3px 5px #ffffff70, 3px 3px 15px #00000090;
}

.darc2{
    border-radius: 5px;
    grid-row:1;
    grid-column: 1/2;
    background-size: cover;
    background-position: center center;
    color:white;
    box-shadow: -3px -3px 5px #ffffff70, 3px 3px 15px #00000090;
    
}
.darc2 img{
    width:600px;
    height:500px;
    object-fit: cover;
}
video{
    width:600px;
    height:500px;
    object-fit: cover;
}

#coma{
    grid-row: 2/5;
    grid-column: auto;
    margin:auto;
    margin-top: 30px;
    background:rgba(26,26,26,0.9);
    width:100%;
    border-top: 1px solid black;
}
h1{
    grid-row: 3/5;
    grid-column: auto;
}

h2{
    grid-row: 4/5;
    grid-column: auto;
    padding-left: 60px;
}
#von{
    grid-row: 5/5;
    grid-column: auto;
    width:150px;
    height:50px;
    background-color:black;
    color:white;
    padding-left: 60px;
    margin-left: 70px;
    border-radius: 30px;
    padding-top: 5px;
    border:1px solid white;
}
.hy{
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 30px;
    padding-right: 30px;
}
@media only screen and (max-width:900px){
    .kl{
        display:none;
    }

.navbar{
    display:block;
    
    height:100px;
    margin-top: 0px;
    width:100%;
}
.custom-bg-black {
    background-color: black !important; /* Use !important to ensure the style is applied */
}
.navbars{
    display:none;
}
.navbar-brand img{
width:100px;
height:100px;

}
.navbar-togggler{
    color:white;
}
.navbar-toggler-icon{
    color:white;
}
.carding img{
    width:202px;
    object-position: center center;
    padding-left: 0px;
    height:200px;
    margin-top:-60px;
    
}
.mj{
   
    height:360px;
}
.carding{
   
    width:280px;
    height: 200px;
    margin-top: 10px;
    border-bottom:0px;
}
.cardings{
    width:250px;
    height: 400px;
    margin-top: 10px;
    border:0px;
    object-fit: cover;
}
.cardings img{
    width:180px;
    object-position: center center;
    padding-left: 0px;
    height:300px;
    margin-top:-60px;
    
}
.oli{
    width:180px;
    border:1px solid black;

}
.titlo{
   
    margin-top:-50px;
    color:black;
    width:150px;
    border-top:1px solid black;
}
.titld{
    width:165px;
    height:200px;
    border:1px solid black;
    border-radius:1px;
    margin-top:-50px;
}


    .cg{
    height:3400px;
  }
  .made{
    position:absolute;
    top:100px;
    left:0px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;  
    font-size: 200px;
    color:#9aea24;
    z-index:100;
  }
 
  
    .bg .log{
    display:none;
   } 
.log{
   display:block;
   color:white;
    
}
.ds{
    font-size:60px;
    letter-spacing: 0.1pt;
    margin-left: 10px;
}
.fs{
    font-size:60px;
}
.rows{
  display:none;
}
.phone{
    display:block;
}
.jk{
    color:black;
    padding-top:60px;
    font-size: 50px;
}
.vh{
    font-size: 50px;
    
}

.phone{
   
    display:grid;
    grid-template-columns:200px 200px;
    grid-template-rows: 400px;
    grid-gap:10px;
    height:600px;
    width:360px;
    margin-top: -730px; 
}

.ph:nth-child(1){
    display: grid;
    grid-column: 1/2;
    
    width:200px;
    object-fit: cover;
   
}
.ph img{
    width:210px;
    height:600px;
    object-fit: cover;
    position:absolute;
}
.ph:nth-child(2){
    display: grid;
    grid-column: 2/2;
    width:200px;
    object-fit: cover;
}
.temp{
 display:block;
}
.sector{
    display:block;
    margin-top: 10px;
}
.rown{
    padding-top: 40px;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
}
.s7{
    margin-top: 20px;
   margin-left:10px;
    width:320px;

}
.s7 img{
    width:370px;
}
.s3{
    margin-top: 10px;
    background: #eee7e7;
    color:rgb(17, 14, 14);
}
.t1{
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
}
.section{
    margin-top: 50px;
    display:grid;
    grid-template-columns:400px;
    grid-template-rows:10px 400px 400px 10px;
}

.pic img{
    width:800px;
    object-fit: cover;
    height:500px;
}
.pic{
    margin-left: 0px;

}

.banner{

    height:1200px;
    display: flex;
    flex-direction: column;  
}

.registeration{
   text-align: center;
}


.box{
    width:380px;
}
.boat{
    width:380px;
}
.fl{
    margin-left:-100px;
}
.darc{
    display:flex;
    flex-direction: column;
}
.darc2{
    width:380px;
    
}
.darc2 img{
    width:400px;
    object-fit: cover;
}
.darc1{
    width:380px;
    margin-top: 200px;
}
video{
    width:400px;
    object-fit: cover;
}
#coma{
    width:380px;
    object-fit: cover;
}
#von{
    width:200px;
}
.media h3{
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
}
.w1 h3{

    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    
}

}
/* For devices with a width up to 540px */
@media only screen and (max-width: 540px) {
    .carding img {
      width: 100%; /* Adjust the width as needed */
      object-position: center center;
      padding-left: 0px;
      height:410px;
    }
  
    .carding {
      width: 100%;
      height:400px; /* Adjust the width as needed */
    }
    .s7 img{
        width:480px;
    }
 
    .pic img{
        width:500px;
    }
    .darc2 img{ 
        width:500px;
       
    }
    .darc1{
        width:500px;
      
    }
    video{
        width:500px;
        
    }
  }
  
  /* For devices with a width between 541px and 767px */
  @media only screen and (min-width: 541px) and (max-width: 767px) {
    .carding img {
      width: 150px; /* Adjust the width as needed */
      object-position: center center;
      padding-left: 0px;
    }
  
    .carding {
      width: 200px; /* Adjust the width as needed */
    }
  }
 
  
  /* For devices with a width between 768px and 819px */
  @media only screen and (min-width: 768px) and (max-width: 819px) {
    .carding img {
      width: 300px; /* Adjust the width as needed */
      object-position: center center;
      padding-left: 0px;
     }
  
    .carding {
      width: 320px; /* Adjust the width as needed */
    }
    .pic img{
       width:600px;
    }
    .pic{
        margin:auto;
    }
    .darc2 img{
        width:600px;
        height:500px;
        object-fit: cover;
   
    }
    .darc2{
        width:600px;
        margin-left:80px;
    }
    video{
        width:600px;
        height:500px;
        object-fit: cover;
    }
    .darc1{
        margin-left: 70px;
    }
    .s1{
        width:600px;
        margin-left:80px;
    }
    .s7 img{
        width:600px;
        height:500px;
        object-fit: cover;
    }
    .s3{
        margin:auto;
    }
   

  }
  
  /* For devices with a width between 820px and 911px */
  @media only screen and (min-width: 820px) and (max-width: 911px) {
    .carding img {
      width: 320px; /* Adjust the width as needed */
      object-position: center center;
      padding-left: 0px;
    }

    .carding {
      width: 320px; /* Adjust the width as needed */
    }
    .pic img{
        width:800px;
     }
     .pic{
         margin-left:10px;
     }
     .darc2 img{
         width:600px;
         height:500px;
         object-fit: cover;
    
     }
     .darc2{
         width:600px;
         margin-left:90px;
     }
     video{
         width:600px;
         height:500px;
         object-fit: cover;
     }
     .darc1{
         margin-left: 90px;
     }
     .s7{
         width:600px;
         margin-left:80px;
     }
     .s7 img{
         width:600px;
         height:500px;
         object-fit: cover;
     }
     .s3{
         margin:auto;
     }
    
 
  }
  
  /* For devices with a width between 912px and 900px */
  @media only screen and (min-width: 912px) and (max-width: 1100px) {
    .carding img {
      width: 330px; /* Keep the original width for this range */
      object-position: center center;
      padding-left: 0px;
    }
  
    .carding {
      width: 340px; /* Keep the original width for this range */
    }
    .banner{
        margin-top: 60px;
        display:grid;
        grid-template-columns:1fr 1fr;
        grid-template-rows: auto;
        background: linear-gradient(to bottom,  #DAA520, #FFFCCC);
        height:600px;
        grid-gap:10px;
     
    }
    .pic{
        grid-column: 1/2;
        margin-left: -20px;
       
    }
    .pic img{
        width:510px;
        height:500px;
    }
    .registeration{
        grid-column: 2/2;
        display:grid;
        grid-template-rows: 100px 1fr;
        height:900px;
        margin-top:50px;
       
        
    }
    .texts{
        grid-row: 1/2;
        width:500px;
        margin-left: -60px;
    }
    .darc{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows:500px;
      
    }
    video{
        width:450px;
        margin-left: -20px;
    }
    .darc2{
        width:450px;
    }
    .darc2 img{
        width:450px;
    }
    .darc1{
        margin-left: -80px;
        width:450px;
    }
    .sector{
        margin-top: 800px;
    }
    .row{
        margin-top: -500px;
    }
    .s7{
        width:470px;
        margin-left: -130px;
        
    }
    .s7 img{
        width:440px;
        height:500px;
        object-fit: cover;
    }
    .s3{
        width:440px;
        margin-left: -220px;
    }
  }
  
  @media only screen and (min-width: 1000px) and (max-width: 1035px) {
    .carding img {
      width: 230px; /* Adjust the width as needed */
      object-position: center center;
      padding-left: 0px;
    }

    .carding {
      width: 230px; /* Adjust the width as needed */
    }
    .banner{
        margin-top: 60px;
        display:grid;
        grid-template-columns:1fr 1fr;
        grid-template-rows: auto;
        background: linear-gradient(to bottom,  #DAA520, #FFFCCC);
        height:600px;
        grid-gap:10px;
     
    }
    .pic{
        grid-column: 1/2;
        margin-left: 30px;
    }
    .pic img{
        width:530px;
        height:500px;
    }
    .registeration{
        grid-column: 2/2;
        display:grid;
        grid-template-rows: 100px 1fr;
        height:900px;
        margin-top:50px;
       
        
    }
    .texts{
        grid-row: 1/2;
    }
    .darc{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows:500px;
      
    }
    video{
        width:480px;
    }
    .darc2{
        width:480px;
    }
    .darc2 img{
        width:480px;
    }
    .darc1{
        margin-left: -80px;
        width:480px;
    }
    .sector{
        margin-top: 800px;
    }
    .row{
        margin-top: -500px;
    }
    .s7{
        width:500px;
        margin-left: -130px;
        
    }
    .s7 img{
        width:500px;
        height:500px;
        object-fit: cover;
    }
    .s3{
        width:500px;
        margin-left: -180px;
    }
  }

